*, 
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  align-items: center;
  background: black;
  color: rgb(255, 255, 255);
  display: flex;
  height: 70px;
  justify-content: flex-end;
  max-width: 100%;
  padding: 20px;
  width: 100vw;
}

.expenses, .currency, .email {
  display: flex;
  gap: 10px;
}

.expenses, .currency {
  margin-right: 60px;
}

.email {
  margin-right: 120px;
}

.expense_form {
  align-items: center;
  background: olive;
  display: flex;
  gap: 20px;
  height: 90px;
  justify-content: flex-start;
  max-width: 100%;
  padding: 20px;
  width: 100vw;
}

.expense_form label {
  display: flex;
  gap: 10px;
}